# Ambiente
.env
.env.*
!.env.example

# Node
node_modules/
dist/
build/
coverage/

# Logs
*.log
npm-debug.log*

# Storage local (documentos enviados, futura implementação)
storage/
uploads/

# Temporários
tmp/
*.tmp

# Sistema operacional / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Prisma generated client
/src/generated/prisma

# TypeScript incremental build cache
*.tsbuildinfo
